<div class="row-fluid">
  <div class="span12">
    <li class="cookbook well">
      <h2><%= cookbook.name %></h2>
      <span class="pull-right">
        <%= link_to 'Show',    cookbook,                                                      :class => "btn btn-primary" %>
        <%= link_to 'Edit',    edit_cookbook_path(cookbook),                                  :class => "btn btn-warning" %>
        <%= link_to 'Destroy', cookbook, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
      </span>
    </li>
  </div>
</div>
