<h1>Listing cookbooks</h1>

<ul class="cookbooks">
    
  <!-- make an li for each cookbook -->
  <% @cookbooks.each do |cookbook| %>
    <!-- this is how we pass a variable to a partial -->
    <%= render "shared/cookbook", :cookbook => cookbook %>
  <% end %>
  
  <!-- new cookbook is the final item in this list -->
  <li class="btn btn-success btn-large pull-right plus-button">
    <span class="fui-plus-16"></span> 
    <%= link_to 'New Cookbook', new_cookbook_path %>
  </li>

</ul> <!-- end list of recipes -->